DATABASE_URL="postgresql://movimento:movimento@localhost:5432/movimento?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="troque-por-um-segredo-longo-e-aleatorio-com-no-minimo-32-caracteres"
